{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="Content-Language" content="pt-br">
	<meta name="description" content="A Bramoto é a maior rede de Concessionárias Autorizadas Honda do Rio Grande do Sul, com lojas em Santa Maria, Cachoeira do Sul, São Gabriel, Rosário do Sul, Santiago, São Borja e Itaqui, atendendo mais de 80 municípios na região centro e fronteira oeste do estado."/>
	<meta name="keywords" content="motos,moto,motocicletas,motocicleta,bramoto,bramotos,santa maria,rio grande do sul,honda,concessionárias,biz,cg,titan,shadow,job,hornet,cb,oficina,peças,concessionárias,santiago,são gabriel,cachoeira do sul,nxr,cbfx,twister,fourtraxx,125,150,250,700,600 F,são borja,seminovas,assistência técnica,agende seus serviços,boutique,consórcio nacional honda,cnh,financiamento,nx4,125 mais,125+ 125 +,bruno gama,presidente vargas,conquiste,condições especiais,agilidade,formação,grupos,acessórios"/>
	<meta name="author" content="http://twitter.com/brunogama" />
	<meta name="google-site-verification" content="NOtyJeh8ka_2tBbOJLv4TKyKCNHgBHkAXZLWn5Nv5QA" />
	<meta name="msvalidate.01" content="D0164B5FFCF683A72F975FAFFD9AE03B" />
	<META name="y_key" content="e54586b6e55e083e">
		
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/constantes.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">

	<script src="{{ MEDIA_URL }}js/utils.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ MEDIA_URL }}js/jquery.tools.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ MEDIA_URL }}js/jquery.meio.mask.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ MEDIA_URL }}js/bindings.js" type="text/javascript" charset="utf-8"></script>
	
	<!--[if lt IE 9]>
	<script src="{{ MEDIA_URL }}js/IE9.js" type="text/javascript">
	IE7_PNG_SUFFIX = "_trans.png";
	</script>
	<![endif]-->

	<link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<title>
		{% block title %} {% endblock %}
		Bramoto 35 Anos | bramoto.com
	</title>
</head>
<body>
	{% block body_start %} {% endblock %}
	<div id="wrapper" class="clearfix">
	    <div class="clearfix" id="header">
			<h1 id="logo"><a href="{% url bramoto.main.views.index %}" title="Bramoto 35 anos">Bramoto 35 anos</a></h1>
	        <div class="clearfix" id="menu">
 				{% include "menu.html" %}
	        </div>
	    </div>
	    <div class="clearfix" id="conteudo">
			{% block conteudo %} {% endblock %}
	    </div>
	    <div class="clearfix trans_black" id="footer">
			{% include "footer.html" %}
	    </div>
	</div>
	{% block body_end %} {% endblock %}
	<!--
	<div class="simple_overlay" id="gallery"> 
	    <img class="progress" src="http://static.flowplayer.org/tools/img/overlay/loading.gif" /> 
	</div>
	-->
	<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
	<script type="text/javascript">
		_uacct = "UA-428840-1";
		urchinTracker();
	</script>
</body>
</html>
{% endspaceless %}