{% extends "base.html" %}
{% block title %}
	Consórcio Nacional Honda | Produtos | 
{% endblock %}
{% block conteudo %}
	<h2>Produtos</h2>

	{% include 'submenu_produtos.html' %}
	
	<div class="white_box clearfix">
		<h3>Consórcio Nacional Honda</h3>
		
		<p>O Consórcio Nacional Honda hoje é a maior administradora de consórcio do país, aliando a tranqüilidade e segurança à moderna estrutura de administração que somente uma empresa líder pode oferecer. 
</p>

		<p>Conte com a agilidade na formação de grupos, flexibilidade nos diversos prazos e uma das taxas de administração mais competitivas do mercado, com até 13 contemplações mensais e entrega garantida pela fábrica.<p>
			<a href="http://www.consorcionacionalhonda.com.br" title="Consórcio Nacional Honda" rel="external">
				www.consorcionacionalhonda.com.br
			</a>
		</p>
	</div>
{% endblock %}